.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 700px;
	margin: 0 auto 0 auto;
	background-color: aqua;

	.box-padding {
		padding: 20px;
		width: 550px;
		height: 400px;
		background-color: blue;
	}

	.box-nopadding {
		padding: 0;
		width: 550px;
		height: 400px;
		background-color: violet;
	}


}

