// .center {
// 	background: linear-gradient(45deg, rgba(164, 164, 164, 0.304), rgba(113, 247, 205, 0.276));
// 	display: flex;
// 	flex-direction: column;
// 	flex: 1;
// 	justify-content: center;
// 	align-items: center;
// 	min-height: 100vh;
	
// 	// TODO over-flow: hidden
// 	.box {
// 		position: relative;
// 		width: 30rem;
// 		height: 20rem;
// 		border-radius: 1rem;
// 		overflow: hidden;
// 		background-color: rgba(53, 249, 174, 0.106);
// 		display: flex; justify-content: center; align-items: center;
// 		// color: b;
// 		box-shadow:
// 			0 2rem 2rem -2rem rgba(black, 0.5),
// 			0 1rem 4rem -1rem rgba(black, 0.2);

// 		.bottom-line {
// 			position: absolute;
// 			bottom: 0;
// 			left: 0;
// 			width: 100%;
// 			height: 0.5rem;
// 			background: rgba(187, 187, 187, 0.475);
// 		}
// 	}
// }

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,800&display=swap');

body {
	font-family: "Nunito Sans";
}

.container {
	// background: linear-gradient(45deg, rgba(164, 164, 164, 0.304), rgba(113, 247, 205, 0.276));
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	.box-overflow {
		position: relative;
		width: 30rem;
		background-color: rgba(185, 186, 189, 0.358);
		border-radius: 1rem;
		
		box-shadow: 
				0 2rem 2rem -2rem rgba(black, 0.5),
				0 1rem 4rem -1rem rgba(black, 0.2);
		transition: all 300ms;

		.pic {
			position: absolute;
			top: -2rem;
			left: 2rem;
			width: 5rem;
			height: 5rem;
			border-radius: 50%;
			background-color: turquoise;
			box-shadow: 
				0 2rem 2rem -2rem rgba(black, 0.5),
				0 1rem 4rem -1rem rgba(black, 0.2);
			background-image: url(./fg.jpg);
			background-size: cover;
			background-position: center;
			box-sizing: border-box;
			z-index: 99;
		}

	.box {
		position: relative;
		width: 30rem;
		background-color: rgba(185, 186, 189, 0.358);
		border-radius: 1rem;
		overflow: hidden;
		box-shadow: 
				0 2rem 2rem -2rem rgba(black, 0.5),
				0 1rem 4rem -1rem rgba(black, 0.2);
		transition: all 300ms;
		
		.box-item {
			display: flex;
			justify-content: center;
			align-items: center;

			height: 7rem;
			background-color: rgba(228, 228, 228, 0.235);		
			border-radius: 1rem;
			overflow: hidden;
			box-shadow: 
				0 2rem 2rem -2rem rgba(black, 0.5),
				0 1rem 4rem -1rem rgba(black, 0.2);
			transition: all 200ms;

			.content {
				position: absolute;
				top: 2rem;
				left: 10rem;

				display: flex;
				flex-direction: column;

				.title {
					font-weight: 900;
					font-size: 18px;
				}
				.artist {
					font-weight: 300;
					font-size: 13px;
				}
			}

			.expand-button {
				position: absolute;
				bottom: 5px;
				left: 50%;
				color: rgba(93, 93, 94, 0.482);
				opacity: 0;
				transform: translate(-50%, -50%);
				transition: opacity 700ms ease-in;
				cursor: pointer;
				
				button{
					background: transparent;
					border: 0;
					outline: none;
				}
			}

			.line {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 0.8rem;
				background-color: rgba(1, 1, 1, 0.036);
			}

			&:hover {
				height: 9rem;
				.expand-button {
					opacity: 1;		
							
				}
			}
		}

	}

}

	.box.expand {					
			width: 20rem;				
	}
	.box.expand .box-item {
		height: 30rem;

		.expand-button {
			opacity: 1;
		}
	}
	// .box.expand button {
	// 	opacity: 1 !important;
	// }

}


// TODO
// div with width 
// 		div with height











// @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,800&display=swap');

// $background-1: #FFDFDF;
// $background-2: #DFDFFF;
// $bar: #F0B67F;
// $black: #60656F;
// $red: #E87461;

// // body, html {
// // 	// background: linear-gradient(135deg, $background-1, $background-2);
// // 	height: 100%;
// // 	color: $black;
// // 	background: linear-gradient(45deg, rgba(111, 111, 111, 0.249), rgba(184, 250, 194, 0.166))
// // }

// .center {
// 	background: linear-gradient(45deg, rgba(164, 164, 164, 0.304), rgba(113, 247, 205, 0.276));
// 	display: flex;
// 	flex-direction: column;
// 	flex: 1;
// 	justify-content: center;
// 	align-items: center;
// 	min-height: 100vh;
// }

// .player {
// 	// overflow: hidden;
// 	border-radius: 1rem;	
// 	background: rgba(white, 0.6);
	
// 	width: 70%;
	
// 	box-shadow:
// 		0 2rem 2rem -2rem rgba(black, 0.5),
// 		0 1rem 4rem -1rem rgba(black, 0.2);
// }

// .panel {
// 	position: relative;
	
// 	height: 6.5rem;
// 	// box-sizing: border-box;
// 	background: rgba(white, 0.6);
// 	border-radius: 1rem;
// 	// overflow: hidden;	
// 	transition: all 400ms;
	
// 	&:hover {
// 		height: 9rem;
		
// 		// .line {
// 		// 	transform: scaley(2);
// 		// }
		
// 		// #expand-button {
// 		// 	opacity: 0.4;
// 		// 	transition: opacity 200ms 200ms;
// 		// 	&:hover {
// 		// 		opacity: 0.8;
// 		// 	}
// 		// }
// 	}
// }

// #expand-button {
// 	opacity: 0;
// 	position: absolute;
// 	top: 5.5rem;
// 	left: 16rem;
// 	text-align: center;
// 	width: 4rem;
// 	transition: opacity 200ms 0ms;
// 	cursor: pointer;
	
// 	&:hover {
// 		opacity: 0.8;
// 	}
// }

// .timeline {
// 	position: absolute;
// 	bottom: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 0.5rem;	
// 	transition: all 400ms;
	
// 	.line {
// 		position: absolute;
// 		bottom: 0;
// 		left: 0;
// 		background: rgba(black, 0.1);
// 		height: 0.25rem;
// 		width: 100%;
// 		transform-origin: bottom center;
// 		transition: transform 250ms ease-in-out;
// 		cursor: pointer;
		
// 	}
// }

// .player.expand {
// 	width: 24rem;
// 	transition: all 400ms;
	
// 	.panel {
// 		flex-direction: column;
// 		height: 36rem;
// 		transition: all 400ms;
		
// 		&:hover .line {
// 			transform: scaley(1);
// 		}
				
// 		#expand-button {
// 			left: 10rem;
// 			top: 1.5rem;
// 			opacity: 0.3;
// 			transform: scaley(-1);
// 			&:hover {
// 				opacity: 0.8;
// 			}

// 		}
// 	}
// }

// button {				
// 	background: transparent !important;
// 	border: 0 !important;
// 	outline: none ;
// }