body {
	padding: 0;
	margin: 0;
}

.container {
	position: relative;
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 550px;
	margin: 0 auto 0 auto;
	box-shadow: 
	4px 0rem 2rem 0rem rgba(171, 171, 171, 0.332);

	input[type="checkbox"] {
		display: none;
	}

	.alert {		
		position: absolute;
		top: 15px;
		right: 15px;
		background-color: white;
		color: #333;
		border-radius: 10px;
		padding: 20px 20px 10px 10px;
		font-size: 26px;
		box-shadow: 0.2rem 0.2rem 0.5rem .2rem rgba(0, 0, 0, 0.202);
		opacity: 0;
		transition: transform 300ms, opacity 200ms;

		.close {
			position: absolute;
			top: 5px;
			right: 5px;
			color: blue;			
			cursor: pointer;
		}
	}

:checked + .alert {
  // display: block;
	transform: scale(1.01);
	opacity: 1;
}

}
