@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

$linkColor: #0366d6;
$textColor: #606060;

body {
  padding: 0;  
	width: 500px;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.2px;
  color: $textColor;
  font-size: 14px;  
  line-height: 2rem;
  font-weight: 400;
}

.App {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;	
	min-height: 100vh;
}

input[type="text"] {
	// padding: 5px 12px;
	font-size: 1.5rem;
	line-height: 20px;
	color: #24292e;
	vertical-align: middle;
	background-color: #fafbfc;
	background-repeat: no-repeat;
	background-position: right 8px center;
	border: 1px solid #e1e4e8;
	border-radius: 6px;
	outline: none;    
	background-color: #ecececc2;
	width: 98%;
	padding-left: 7px;
}
input[type="text"]:focus{
	border: 1px solid #0366d6;	
	box-shadow: 0 0 1pt 3pt #036ce44e;	
}
button {
  font-family: 'Roboto', sans-serif;
  padding: 0.5em 1.5em;
  color: #666;
  background-color: #fff;
  border: 1px solid currentColor;
  border-radius: 0.3em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;  
  outline: none;
}
button:focus {
  background-color: #333; 
  color: white;
}

.App .message-list {
	// flex: 1 1 auto;
	flex-grow: 1;
	flex-basis: auto;
	background-color: rgba(94, 178, 248, 0.758);
	padding: 1rem;
	border: 1px solid #ddd;	
	display: flex;
	align-items: flex-end;	
}
.message-list ul {
	list-style: none;
	margin-left: -2.5rem;
}

.App .input-box {	
	flex-basis: 42px;		
	align-items: center;
	display: flex;
}



.message-item {
	display: inline-flex;
}
.message-body {
	background-color: white;
	border-radius: 10px;
	padding: 2px 12px;
	margin: 2px 0;
}
.avitar {
	width: 45px;
	height: 45px;
	border-radius: 50px;
	background-color: rgb(204, 237, 255);
	margin-right: 10px;
}

