.App {
  text-align: center;
}

.App-logo-container { 
  display: flex; 
  flex-direction: row;
  align-items: center;  
}
.App-title {
  margin-left: 1rem;  
  color: white;
  float: left; 
  font-size: 2rem;
  font-weight: 700; 

  @media screen and (max-width: 768px) {
    display: none !important;
  }
  display: block;
}

.App-logo {
  float: left;
}

.App-logo img {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-container {
  background-color: #282c34;
  height: 5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.App-header {  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;  
  padding: 0.1rem 1rem;  
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.App-link {
  padding: 0 !important;
  margin: 0 !important;
  @media screen and (max-width: 768px) {
    display: none !important;
  }
  display: block;
}

.App-link a {
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  color: #eff3f6;
  border-bottom: 2px solid transparent;
  padding: 8px 0;
  line-height: 13px;
}

.App-link a:hover {
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
  padding: 0 !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header ul{
  display: flex ;
  flex-direction: row;
  list-style: none;  
}

.App-header ul>li {
  padding: 10px;
  color: #61dafb;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.wrapper {
  padding: 1rem 2rem;
}

// Nav
.button-outlined {
  @media screen and (max-width: 768px) {
    display: block !important;    
    cursor: pointer;
  }
  display: none;  
}

.menu-outlined {
  list-style: none;
}
.menu-outlined li {
  padding: 0.8rem 0;
}
.menu-outlined a {
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  color: #383838;
  border-bottom: 2px solid transparent;
  padding: 1rem 0;
  line-height: 13px;
}

.menu-outlined a:hover {
  color: #61dafb;
  border-bottom: 2px solid #61dafb;
  padding: 0 !important;
}

