.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: turquoise;
	min-height: 100vh;


}

// button
// {
// 	background: none;
// 	border: none;
// 	outline: none;
// 	position: absolute;
// 	bottom:0;
// 	right: 0;
// 	opacity: 1;
// 	z-index: 400;
// 	transition: transform 5s, opacity .3s ease;
// }

// .deg5 {
// 	transform: rotate(265deg) translate(3.5em) rotate(-265deg);
// }

.circle {
	position: relative;
	width: 10rem;
	height: 10rem;
	opacity: 0;
	transition: all 1s, opacity 1s;

	// background-color: yellowgreen;
	// border-radius: 50%;

	.deg5 {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%);
	}
	.deg40 {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	.deg85 {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}



.circle.rotate {
	animation: spin 1s linear 1 ;
	opacity: 1;
}

@keyframes spin {
	0% { transform: rotate(0deg) }
	50% { transform: rotate(180deg) }
	100% { transform: rotate(360deg) }
}
