@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -webkit-box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: turquoise;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.circle {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  border-radius: 50%;
  -webkit-box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
}

.one {
  width: 200px;
  height: 200px;
  -webkit-animation: one 2s cubic-bezier(0.2, 0.99, 0.6, 0.99) infinite alternate;
          animation: one 2s cubic-bezier(0.2, 0.99, 0.6, 0.99) infinite alternate;
}

.two {
  width: 150px;
  height: 150px;
  -webkit-animation: two 2s cubic-bezier(0.2, 0.99, 0.6, 0.99) infinite alternate;
          animation: two 2s cubic-bezier(0.2, 0.99, 0.6, 0.99) infinite alternate;
}

.three {
  width: 100px;
  height: 100px;
  -webkit-animation: three 2s cubic-bezier(0.2, 0.99, 0.6, 0.99) infinite alternate;
          animation: three 2s cubic-bezier(0.2, 0.99, 0.6, 0.99) infinite alternate;
}

@-webkit-keyframes one {
  0%, 10% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

@keyframes one {
  0%, 10% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

@-webkit-keyframes two {
  0%, 40% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

@keyframes two {
  0%, 40% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

@-webkit-keyframes three {
  0%, 70% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

@keyframes three {
  0%, 70% {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.05);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 8px 8px 20px 0 rgba(0, 0, 0, 0.1);
  }
}
/*# sourceMappingURL=Circle.css.map */