$curve: cubic-bezier(.2,.99,.6,.99);

// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // width: 400px;
  // height: 400px;
  // margin-top: -200px;
  // margin-left: -200px;
  // border-radius: 2px;


	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: turquoise;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
}

.circle {
	position: absolute;
	transform: translate(-50%,-50%);
	background: white;
	border-radius: 50%;
	box-shadow:	8px 8px 20px 0 rgba(black, 0.1)
}

.one {
	width: 200px;
	height: 200px;
	// animation-fill-mode: both;
	animation: one 2s $curve infinite alternate;
}














.two {
	width: 150px;
	height: 150px;
	animation: two 2s $curve infinite alternate;
}

.three {
	width: 100px;
	height: 100px;
	animation: three 2s $curve infinite alternate;
}

@keyframes one {
	0%, 10% {
		transform: translate(-50%,-50%) scale(0);
		box-shadow:	2px 2px 2px 0 rgba(black, 0.05);
	}
	
	100% {
		transform: translate(-50%,-50%) scale(1);
		box-shadow:	8px 8px 20px 0 rgba(black, 0.1)
	}
}





@keyframes two {
	0%, 40% {
		transform: translate(-50%,-50%) scale(0);
		box-shadow:	2px 2px 2px 0 rgba(black, 0.05);
	}
	
	100% {
		transform: translate(-50%,-50%) scale(1);
		box-shadow:	8px 8px 20px 0 rgba(black, 0.1)
	}
}

@keyframes three {
	0%, 70% {
		transform: translate(-50%,-50%) scale(0);
		box-shadow:	2px 2px 2px 0 rgba(black, 0.05);
	}
	
	100% {
		transform: translate(-50%,-50%) scale(1);
		box-shadow:	8px 8px 20px 0 rgba(black, 0.1);
	}
}