// delete the following line if no text is used
// edit the line if you wanna use other fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

// use only the available space inside the 400x400 frame
.frame {
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // width: 400px;
  // height: 400px;
  // margin-top: -200px;
  // margin-left: -200px;
  // border-radius: 2px;

	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	min-height: 100vh;

	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #6B6B7B;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
	perspective: 400px;
}

.cube {
	transform: rotateX(-25deg) rotateY(45deg)
		translate3D(-50px, -50px, 50px);
	transform-style: preserve-3d;
	height: 100px;
	width: 100px;
	transition: transform 300ms;
	
	.wall {
		position: absolute;
		width: 100px;
		height: 100px;
		background: rgba(black, 0.2);
		
		&.left {
			transform: translate3D(-50px , 0px, 0px) rotateY(90deg);
		}
		&.right {
			transform: translate3D(50px , 0px, 0px) rotateY(90deg);
		}
		&.front {
			transform: translate3D(0px , 0px, 50px);
		}
		&.back {
			transform: translate3D(0px , 0px, -50px);
		}
	}
	
	.fill {
		width: 100%;
		height: 100%;
		background: #27FB6B;
		transform-origin: center bottom;
		animation: fill-side 3s alternate infinite;
	}
	
	.top {
		position: absolute;
		width: 100px;
		height: 100px;
		background: #61FC93;
		transform: rotateX(90deg);
		animation: fill-top 3s alternate infinite;
	}
	
	.bottom {
		position: absolute;
		width: 100px;
		height: 100px;
		background: rgba(black, 0.2);
		transform: rotateX(90deg) translateZ(-50px);
		box-shadow: -8px 8px 24px rgba(black, 0.4);
		transition: box-shadow 300ms;
	}
	
	&:hover{
			transform: rotateX(-25deg) rotateY(45deg)
		translate3D(-50px, -70px, 50px);
		
		.bottom {
			box-shadow: -32px 32px 48px rgba(black, 0.4)
		}
	}
}

@keyframes fill-side {
	0%, 10% { transform: scaleY(0) }
	90%, 100% { transform: scaleY(1) }
}

@keyframes fill-top {
	0%, 10% { transform: rotateX(90deg) translateZ(-50px) }
	90%, 100% { transform: rotateX(90deg) translateZ(50px) }
}