.App {
  display: flex;
  flex: 1;
  flex-direction: column;  
}

.App > * {
  margin-top: 20px;
}

body {
  padding: 10px;
  margin: 10px;
}

.toggle-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  margin: 0 .5rem 0 0;  

  transition: all 1.5s ease-in-out;
}
.toggle-button:focus{
  outline: none;
}
.toggle-button:hover{
  transform: rotateX(720deg);
}

.toggle-button__line {
  width: 30px;
  height: 2px;
  background: #bdc3c7;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: -300px;
  top: 0;
  width: 300px;
  min-height: 100vh;
  background-color: aqua;  
  transition: transform 0.3s ease-out;
}

.alert {
  position: absolute;
  top:10px;
  left:50%;
  margin-left:-200px;  
  width: 400px;
  // height: 120px;
  border-radius: 5px;
  padding: 15px;
  line-height: 15px;  
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  background-color: violet;
  transition: all 300ms;
  //  opacity 300ms, transform 300ms;
}


