@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap');

$bg: #1E2833;
$panel-bg-light: #3B536B;
$panel-bg-dark: #1C3956;
// $panel-bg-light: #1C3956;
// $panel-bg-dark: #1E2833;
$salmon: #FF7475;

body {
	margin: 0;
	padding: 0;
	background: $bg;
	font-family: 'Oswald', sans-serif;
	color: white;
	font-weight: 200;
}

.container {
	display: flex;
	flex: 1;
	flex-direction: column;	
	min-height: 100vh;
	width: 450px;
	margin: 0 auto 0 auto;	
	justify-content: center;
	align-items: center;
}

.field {
	text-align: left;
	position: relative;
	// border: 1px solid red;
	width: 100%;

	label {		
		position: absolute;
		top: 0px;
		left: 0;
		transform-origin: left top;
		font-size: 2rem;
		font-weight: 200;
		color: aqua;
		// transform: translateY(0.8rem);
		transition: transform 100ms;
		z-index: 1;
	}
	
	input {
		width: 100%;
		background: transparent;
		border: none;
		border-bottom: 1px solid rgba(white, 0.3);
		padding: 1.5rem 0rem 0.5rem;
		color: white;
		box-sizing: border-box;
		margin-bottom: 1rem;
		outline: none;
		font-size: 20px;
		z-index: 999;
	}
	
	// input.touched + label, 
	input:focus + label {
		transform: scale(0.55);
	}
	label.touched {
		transform: scale(0.55);
	}

}







button, input[type="submit"] {
	-webkit-appearance: none;
	display: inline-block;
	background: $salmon;
	border: $salmon 2px solid;
	font-size: 1.25em;
	line-height: 1;
	text-transform: uppercase;
	font-family: inherit;
	color: white;
	padding: 0.5rem 2rem;
	cursor: pointer;
	transition: color 100ms ease-in-out, background 100ms ease-in-out;
	margin-top: 1rem;
	
	&:hover {
		color: $salmon;
		background: transparent;
	}
}

button {
	background: transparent;
	color: $salmon;
	
	&:hover {
		color: white;
		background: $salmon;
	}
}